body {
  font-family: "Raleway", sans-serif;
  color: #111827;
  margin: 0;
  background-image: url("henrik-donnestad-t2Sai-AqIpI-unsplash.jpg");
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #f9fafb;
  position: relative;
  left: 25%;
  width: 75%;
  box-sizing: border-box;
}

h1 {
  position: relative;
  left: 8rem;
  display: inline-block;
  font-size: 4rem;
  height: 13rem;
  line-height: 13rem;
  margin: 1rem 0;
}

h1::before {
  content: "";
  display: block;
  width: 12rem;
  height: 12rem;
  background-image: url("jt.jpg");
  background-size: cover;
  border-radius: 50%;
  border: 0.5rem solid #f9fafb;
  position: absolute;
  left: -14rem;
  z-index: 1;
}

main {
  background-color: #f9fafb;
  padding: 1rem 4rem;
  text-align: justify;
  position: relative;
  left: 25%;
  width: 75%;
  box-sizing: border-box;
  flex-grow: 1;
}

@media (max-width: 400px) {
  h1 {
    left: 55px;
  }

  h1::before {
    width: 100px;
    height: 100px;
    left: -110px;
  }

  main {
    margin-top: 0;
  }
}

@media (max-width: 740px) {
  main {
    text-align: left;
  }
}

abbr {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  cursor: help;
  text-decoration: none;
}

p {
  line-height: 2em;
}

a {
  font-weight: bold;
  color: #3b82f6;
}

a:visited {
  color: #1d4ed8;
}

#bio {
  font-size: 1.2em;
  font-weight: bold;
}

#contact {
  margin-bottom: 1em;
  font-weight: bold;
}

#contact-methods {
  list-style: none;
  padding: 0;
  display: table;
  width: 300px;
  /* margin: 0 auto; */
}

#contact-methods li {
  display: table-cell;
}
