body {
  font-family: 'Raleway', sans-serif;
  color: rgba(28, 28, 28, .9);
  margin: 0;
}

header {
  background-color: #27475B;
  background-color: #688095;
  color: #FFF;
  padding: 1.5em 0;
  text-align: center;
}

h1 {
  position: relative;
  left: 85px;
  display: inline-block;
  font-size: 2.2em;
}

h1::before {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  background-image: url('jt.jpg');
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: -170px;
  top: -30px;
}

main {
  max-width: 740px;
  padding: 0 30px;
  margin: 3.5em auto;
  text-align: justify;
}

@media (max-width: 400px) {
  h1 {
    left: 55px;
  }

  h1::before {
    width: 100px;
    height: 100px;
    left: -110px;
  }

  main {
    margin-top: 0;
  }
}

@media (max-width: 740px) {
  main {
    text-align: left;
  }
}

abbr {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  cursor: help;
  text-decoration: none;
}

p {
  line-height: 2em;
  margin: 2em 0;
}

a {
  font-weight: bold;
}

a:visited {
  color: blue;
}

#bio {
  font-size: 1.2em;
  font-weight: bold;
}

#contact {
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}

#contact-methods {
  list-style: none;
  padding: 0;
  display: table;
  width: 300px;
  margin: 0 auto;
}

#contact-methods li {
  display: table-cell;
  text-align: center;
}
